.profile-details{
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: fixed;
    top: 12vh;
    right: 10px;
    z-index: 1;
    box-shadow: 6px -5px 39px 10px rgba(237,219,219,0.69);
-webkit-box-shadow: 6px -5px 39px 10px rgba(237,219,219,0.69);
-moz-box-shadow: 6px -5px 39px 10px rgba(237,219,219,0.69);
} 


.userprofile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30vmax;
    width: 20vmax;
    border-radius: 15px;
    position: relative;
}

.closeicon{
    font-size: 24px;
    position: fixed;
    top: 12vh;
    right: 12px;
    color: black;
    z-index: 1;
    cursor: pointer;
}

.userphoto{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: coral;
    color : black;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 20px;

}

.username {
    margin: 5px;
    font-weight: 700;
}

.useremail{
    margin: 5px;
   
}

div > hr {
    color: black;
    height: 5;
}


.updatepass-btn{
    margin-top: 50px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.logout-btn{
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.close-profile{
    position: absolute;
     left :0px
}
